body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    margin-bottom: 20px;
}

.logo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #000000;
    user-select: none;
}

h3 {
    color: rgba(31, 31, 31, 0.925);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    margin: 10px 0;
    user-select: none;
}

h2 {
    color: rgba(0, 0, 0, 0.925);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    margin: 10px 0;
    user-select: none;
}

h2-1 {
    color: rgba(94, 94, 94, 0.89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin: 10px 0;
}

.content {
    margin-top: 5px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.hidden {
    display: none;
}

.button-container {
    margin-left: 20px;
    height: 70px;
    background-color: transparent;
    display: flex;
}

.Buttons {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    color: #1cf715ff;
    border: none;
}

.Buttons h3 {
    color: black;
    font-size: 24px;
    user-select: none;
}

.Buttons h3.active-h3 {
    color: #1cf715ff;
}

p {
    color: #1cf715ff;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px 0;
    user-select: none;
}

.folhetos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.div-folhetos {
    height: 7vh;
    width: 330px;
    max-width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.text-folhetos {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
    user-select: none;
}

.button-folhetos {
    height: 40px;
    width: 140px;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    border: 1px solid black;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-left: 2%;
    user-select: none;
    border-radius: 5px;
}

.escalas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.div-escala {
    width: 300px;
    height: 130px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.text-escala {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
    color: rgb(0, 0, 0);
    user-select: none;
}

.button-escala {
    height: 50px;
    width: 130px;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #1cf715ff;
    border: 1px solid black;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    user-select: none;
}

.button-escala:disabled {
    background-color: #696969;
    cursor: not-allowed;
    opacity: 0.7;
}

hr {
    height: 2px;
    width: 90px;
    background-color: black;
    border: none;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.img img {
    width: 380px;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 5px #1cf715ff;
}

.defaulth2 {
    text-align: center;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 95vw;
    max-width: 600px;
    height: 65vh;
    position: relative;
    margin: 20px 0;
}

.scroll-container::-webkit-scrollbar {
    height: 0;
    background: transparent;
}

.container {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.h1-scroll {
    color: #333;
    margin-bottom: 10px;
    font-size: 26px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    user-select: none;
}

.sites {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.sites a {
    color: black;
    text-decoration: none;
    user-select: none;
}

.sites h1 {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    font-family: Georgia, serif;
    font-size: 16px;
}

@media (max-width: 768px) {
    .scroll-container {
        width: 100vw;
        height: 60vh;
        position: relative;
    }

    .div-folhetos {
        width: 95%;
    }

    .sites h1 {
        font-size: 14px;
    }
}
