body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    margin-bottom: 20px;
}

.logo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #000000;
    user-select: none;
}

h3 {
    color: rgba(31, 31, 31, 0.925);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    margin: 10px 0;
    user-select: none;
}

h2 {
    color: rgba(0, 0, 0, 0.925);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    margin: 10px 0;
    user-select: none;
}

h2-1 {
    color: rgba(94, 94, 94, 0.89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin: 10px 0;
}

.content {
    margin-top: 5px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.hidden {
    display: none;
}

.button-container {
    margin-left: 20px;
    height: 70px;
    background-color: transparent;
    display: flex;
}

.Buttons {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    color: #cfa51aff;
    border: none;
    
}

.Buttons h3 {
    color: black;
    font-size: 24px;
    user-select: none;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    
}

.Buttons h3.active-h3 {
    color: #cfa51aff;
}

p {
    color: #cfa51aff;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px 0;
    user-select: none;
}

.folhetos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
}

.div-folhetos {
    height: 7vh;
    width: 330px;
    max-width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.text-folhetos {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
    user-select: none;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.button-folhetos {
    height: 40px;
    width: 140px;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 4px 1px rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-left: 2%;
    user-select: none;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .div-folhetos {
        width: 95%;
    }

    .button-folhetos {
        height: 40px;
    }

}

.escalas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
}

.div-escala {
    width: 300px;
    height: 130px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.text-escala {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
    color: #cfa51aff;
    user-select: none;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.button-escala {
    height: 50px;
    width: 130px;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #cfa51aff;
    box-shadow: 0px 0px 4px 1px rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    user-select: none;
}

.button-escala:hover {
    background-color: #cfa51aff;
}

hr {
    height: 2px;
    width: 90px;
    background-color: black;
    border: none;
    transition: background-color 0.3s;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 0px;
    user-select: none;
}

.img img {
    width: 380px;
    height: auto;
    border-radius: 10px;
    /* border: 1px solid black; box-shadow: 5px 5px 15px 5px rgb(8, 184, 253);*/
    box-shadow: 0px 0px 15px 5px rgb(184, 172, 7);
    user-select: none;
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaulth2 {
    text-align: center;
    user-select: none;
}

.button-escala:disabled {
    background-color: #696969;
    cursor: not-allowed;
    opacity: 0.7;
}
